.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.min-h-15 {
    min-height: 3.75rem;
}
.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.opacity-25 {
    opacity: 0.25;
}
